.env
.envrc
__pycache__
.venv
var
words/custom.json
words/custom-terms.txt
build
dist
*.egg-info
.vs/
obj/
bin/
*.user
*.suo
*.cache
*.pfx
*.snk
office-addin-vsto/packages/
office-addin-vsto/PatlintAddin/publish/
